ul{
    list-style: none;
}

.container {
    max-width: 50em;
}

.container-img {
    float: left;
    width: 25%;
}
.img {
    max-width: 100%;
}

.container-info {
    float: right;
    width: 75%;
}